{% extends 'base.html'%}
{% load static %}

{% block content %}
<div class="row">
    <div class="h2 text-center">About <b style="color:#365ff4;">Us <i class="fa fa-phone"></i></b></div>
    <div class="col-sm-2"></div>
    <div class="col-sm-8 bg-light">
        <div class="row">
            <div class="col-sm-5 p-5">
              <img src="{% static 'images/d.png'%}" style="height:400px;"/>

                </div>
            <div class="col-sm-7 p-5">
                <p class="h4"><b>Experienced Craftsmen Following a Tradition of Excellence</b></p><br/>
                <p>Company Name started with a simple idea. was it possible to modernize an industry steeped in tradition? We know the watch repair business was resistant to change. but we  set out to improve the way people get their watches serviced anyway.</p>
                <p><b>Today, We are proud to offer highly skilled repair services for all watch models and makes. We combine our state of the online shopping platform with time-tested Favcart india to provide a repair experience like no other.</b></p><br/>
                <p>We have full access to every major watch manufacture and parts supplier. We provide factor maintenance at a fraction of the turnaround time compared to local jewelers and even the factories.with three master watchmakers,two watch technicians and a great customer service team, We are ready to exceed your expectations.</p>
            </div>
        </div>
        </div>
    </div>
    <div class="col-sm-2"></div>
</div>
{% endblock%}